@font-face {
  font-family: "DragonballFont";
  src: url("/fonts/dragonballFont.ttf") format("truetype");
}

@font-face {
  font-family: "PokemonFont";
  src: url("/fonts/pokemonFont.ttf") format("truetype");
}

@font-face {
  font-family: "FrozenFont";
  src: url("/fonts/frozenFont.ttf") format("truetype");
}

.background {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100vh;
}

.victoryMessage {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  /* background: white; */
  background: rgb(32, 225, 244);
  background: linear-gradient(
    145deg,
    rgba(32, 225, 244, 1) 35%,
    rgba(220, 248, 251, 1) 100%
  );
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.messageBloc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.victoryMessage > h1 {
  font-size: 40px;
}

.clickCount {
  font-family: sans-serif;
}

.restartBtn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  width: 250px;
  height: 60px;
  background-color: grey;
  color: white;
  font-family: sans-serif;
}

.victoryMessageDragonball {
  font-family: "DragonballFont", sans-serif;
}

.victoryMessagePokemon {
  font-family: "PokemonFont", sans-serif;
}

.victoryMessageFrozen {
  font-family: "FrozenFont", sans-serif;
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  /* Styles pour petits écrans */
  img {
    height: 60vh;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  /* Styles pour écrans moyens */
}
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  /* Styles pour grands écrans */
}
@media only screen and (min-width: 1201px) {
  /* Styles pour très grands écrans */
}
