.gameBoard {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 30px;
  padding: 30px;
  align-content: start;
  overflow-y: auto;
  border-radius: 25px;
  border-top: 2px solid #ffffff75;
  border-left: 2px solid #ffffff75;
  box-shadow: 5px 5px 12px #00000035;
  background: #ffffff25;
  overflow: hidden;
  backdrop-filter: blur(4px);
  height: 80vh;
}

@media (max-width: 768px) {
  .gameBoard {
    gap: 15px;
    padding: 15px;
  }
}
